body{
 background-color:aqua;
 color:crimson;  
}
#submit_button{
    background-color: indigo;
    color:ivory;
}
#sort_button{
    background-color: indigo;
    color:ivory;
}
#submit_button{
    background-color: indigo;
    color:ivory;
}
#show{
    background-color: indigo;
    color:ivory;
}
#search{
    background-color: indigo;
    color:ivory;
}